@model List<CidadesBrasileiras.Core.Models.Municipio>

@{
    ViewData["Title"] = "Cidades Brasileiras - Home";
}

<div class="container mt-5" style="max-width: 900px;padding-bottom:80px;">

    <div style="height 50%;padding-bottom:50px;">
        <div class="text-center mb-5">
            <h1 class="display-4 fw-semibold">Cidades Brasileiras</h1>
            <p class="text-muted">Digite o nome completo ou parcial de um município brasileiro</p>
        </div>
        <div style="grid-template-columns: 1fr 1fr 1fr;" class="d-grid gap-3" >
            <div class="card" style="width: 18rem;">
                <a class="card-title link-underline-light @((ViewData["Title"]?.ToString() == "Populações") ? "active" : "")"
                    asp-area="" asp-controller="Populacoes" asp-action="Index">
                    <img src="https://blog.paineirascorcovado.com.br/wp-content/uploads/2024/11/Cristo-Redentor-Por-do-sol-scaled.jpg" class="card-img-top object-fit-cover border rounded" style="height: 10rem">
                    <div class="card-body align-content-center" style="height: 6rem">
                        <h5 class="card-title">Pesquisar Municípios</h5>
                    </div>
                </a>
            </div>

            <div class="card" style="width: 18rem;">
                <a class="card-title link-underline-light @((ViewData["Title"]?.ToString() == "Estados") ? "active" : "")"
                   asp-area="" asp-controller="Estados" asp-action="Index">
                    <img src="https://img.freepik.com/vetores-premium/tipografia-do-mapa-do-brasil-com-o-nome-de-todos-os-estados-letras-do-mapa-do-brasil-com-as-cores-da-bandeira-nacional_302321-985.jpg" class="card-img-top object-fit-cover border rounded" style="height: 10rem">
                    <div class="card-body align-content-center" style="height: 6rem">
                        <h5 class="card-title">Pesquisar Estados</h5>
                    </div>
                </a>
            </div>

            <div class="card" style="width: 18rem;">
                <a class="card-title link-underline-light @((ViewData["Title"]?.ToString() == "Capitais") ? "active" : "")"
                   asp-area="" asp-controller="Capitais" asp-action="Index">
                    <img src="https://m.ahstatic.com/is/image/accorhotels/melhores-praias-de-santa-catarina-top-20-para-conhecer-sc-2024-1:13by5?fmt=webp&op_usm=1.75,0.3,2,0&resMode=sharp2&iccEmbed=true&icc=sRGB&dpr=on,1&wid=1459&hei=561&qlt=80" class="card-img-top object-fit-cover border rounded" style="height: 10rem">
                    <div class="card-body align-content-center" style="height: 6rem">
                        <h5 class="card-title">Visualizar Capitais</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>



    <div class="text-center mb-5">
        <h3 class="display fw-semibold">Top 10 municípios mais populosos que não são capitais</h3>
    </div>

    @if (Model != null && Model.Any())
    {

        <div class="card shadow-sm mt-5 mx-auto">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Resultado da Busca</h5>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>Município</th>
                            <th>Estado</th>
                            <th>População</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Nome</td>
                                <td>@item.Estado.Nome</td>
                                <td>@item.Populacao.ToString("N0")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

</div>
